section#benefits 
   .wrapper 
      .text 
         h2.h2 Мы подумали обо всем!
      
      .benefits
         .left 
            .benefit 
               i 01
               span Зарегистрированный торговый знак «IQ-мир».
            .benefit 
               i 02
               span Доступ к базе знаний компании на обучающей платформе.
            .benefit 
               i 03
               span Консультации менеджера по сопровождению на всех этапах запуска.
            .benefit 
               i 04
               span Помощь в поиске помещения.
            .benefit 
               i 05
               span Анализ помещения по требованиям головного офиса и Роспотребнадзора.
            .benefit 
               i 06
               span Составление индивидуальной финансовой модели под помещение.
            .benefit 
               i 07
               span Тестирование спроса в локации.
            .benefit 
               i 08
               span Планировочное решение с расстановкой мебели и сантехники.

         .right
            .benefit 
               i 09
               span Список мебели и оборудования с указанием поставщиков.
            .benefit 
               i 10
               span Проведение финальных собеседований с кандидатами на педагогические должности, управляющую, администратора.
            .benefit 
               i 11
               span Обучение персонала: очное обучение 3 педагогов и администратор/тьютор в МО.
            .benefit 
               i 12
               span Маркетинг: персональный лендинг, настройка и ведение таргетированной интернет-рекламы.
            .benefit 
               i 13
               span Контент для Рассылки пресс- релизов в местные СМИ.
            .benefit 
               i 14
               span Выезды специалистов на открытие.
            .benefit 
               i 15
               span Консультации по получению лицензии на образовательную деятельность.
            .benefit 
               i 16
               span Консультации по получению статуса соц. предпринимателя и грантов от государства на открытие.