header
   nav.logo 
      a(href="#") 
         img(src="./img/logo.svg", alt="logo" width=135 height=45)
         img(src="./img/aboutme/circle_logo.svg", alt="logo").mobile_logo
      hr
      span с 2021 года на рынке образовательных услуг
   nav.navigation
      nav
         a(href="#") О нас
      nav
         a(href="#") О франшизе
      nav 
         a(href="#") Преимущества
      nav
         a(href="#") Форматы
      nav
         a(href="#") Контакты
      nav.get 
         a(href="#") Скачать презентацию
   nav.interaction 
      .phone 
         a#phone(href="tel:+79269898376") +7(926)989-83-76
         span Звоните, проконсультируем!
      .button.blue 
         a(href="#") Скачать презентацию
   .burger
      span
      span
      span
      span
      