section#mainscreen
   .left 
      h1 
         span Франшиза «iQ Мир»
         | семейные классы великих открытий
      h4 образовательный проект, который объединил самые востребованные направления и лучшие практики
      .points 
         .point
            img(src="../../img/firstscreen/icons/up.svg", alt="up" width=22 height=22)
            h5 запуск за 1 месяц
         .point
            img(src="../../img/firstscreen/icons/charts.svg", alt="charts" width=22 height=22)
            h5 прибыль от 300 000₽
         .point
            img(src="../../img/firstscreen/icons/calendar.svg", alt="calendar" width=22 height=22)
            h5 окупаемость от 12 месяцев
      .buttons 
         .button.blue
            a(href="#") Стать партнером 
         .button.transparent
            a(href="#") Получить бизнес-план 
   
   .right
      img(src="../../img/firstscreen/family.webp", alt="family").img
      img(src="../../img/firstscreen/puddle.svg", alt="family").svg